<div *ngIf="(poinatgeStates$ | async) as state"  [ngSwitch]="state.appState">

  <div >
    <form #searchForm="ngForm" (ngSubmit)="gotToPage(searchForm.value.query)" class="d-flex mr" role="search">
      <input type="search" name="query" ngModel class="form-control me-5 flex-grow-1" style="max-width: 900px;" placeholder="Search" aria-label="Search">
      <div class="p-1 flex-fill button" >
        <button type="submit" class="btn btn-warning mr-2" >
          Recherche
        </button>
        <button type="submit" class="btn btn-dark mr-3" (click)="resetForm(searchForm)">
          Reset
        </button>
      </div>
    </form>
    <div class="text-center text-danger" *ngSwitchCase="'APP_ERROR'">No Pointages found</div>
    <div *ngSwitchCase="'APP_LOADING'">
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'APP_LOADED'">
      <h3 class="text-center pt-4 pb-3">Poinatges List</h3>
      <table class="table tablee table-bordered" >
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ID Societe</th>
          <th scope="col">Nom </th>
          <th scope="col">Prenom </th>
          <th scope="col">Matricule</th>
          <th scope="col">Date</th>
          <th scope="col">Heure de Debut</th>
          <th scope="col">Heure de Fin</th>
          <th scope="col">Totale Heure</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let pointage of state.appData?.content; let i = index;">
          <th scope="row">{{pointage.id}}</th>
          <td>{{pointage.idSociete}}</td>
          <td>{{pointage.userId.nom}}</td>
          <td>{{pointage.userId.prenom}}</td>
          <td>{{pointage.matricule}}</td>
          <td>{{pointage.date}}</td>
          <td>{{pointage.heureDebut}}</td>
          <td>{{pointage.heureFin}}</td>
          <td>{{pointage.totalHeure}}</td>
        </tr>
        </tbody>
      </table>
      <nav *ngIf="state.appData?.content?.length!  > 0" aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
            <a (click)="goToNextOrPreviousPage('backward', searchForm.value.query)" class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i = index;"
              class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
            <a (click)="gotToPage(searchForm.value.query ,i)" class="page-link">
              {{ i + 1 }}
            </a>
          </li>
          <li class="page-item pointer" [ngClass]="(state.appData?.totalPages! - 1) == (currentPage$ | async) ? ' disabled' : ''">
            <a (click)="goToNextOrPreviousPage('forward', searchForm.value.query)" class="page-link" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
