<div>
  <div *ngIf="errorMessage" [ngClass]="{'alert-success': messageType === 'success', 'alert-error': messageType === 'error'}" class="alert">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg">{{ errorMessage }}</span>
    <span class="close-btn" (click)="errorMessage = ''">
    <span class="fas fa-times"></span>
  </span>
  </div>
  <h5 class="card-title text-center textt">Changer Mot de Passe</h5>
  <div class="card" >
    <div class="card-body">

      <div class="card-body">
        <form  #f="ngForm">
          <div class="row">
            <div class="col">
              <label  class="form-label textt">Nouvelle Mot de Passe</label>
              <input type="password" ngModel name="password" class="form-control" >
            </div>
            <div class="col">
              <label  class="form-label textt">Confirmer Mot de Passe</label>
              <input type="password" ngModel class="form-control" name="confirmPassword">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end ajout">
    <button type="button" class="btn btn-dark text" (click)="backButton()">
      Annuler
    </button>
    <button type="submit" class="btn btn-warning textt" (click)="onUpdatePassword(f)" >
      Enregistrer
    </button>
  </div>


</div>
