<div *ngIf="(employesState$ | async) as state"  [ngSwitch]="state.appState">

    <div >
      <form #searchForm="ngForm" (ngSubmit)="gotToPage(searchForm.value.query)" class="d-flex mr" role="search">
        <input type="search" name="query" ngModel class="form-control me-5 flex-grow-1" style="max-width: 900px;" placeholder="Search Employes" aria-label="Search">
        <!--<button class="btn btn-warning btn-sm me-3" type="submit" style="flex: 1 1 auto;">Rechercher</button>
        <button class="btn btn-dark btn-sm" type="submit" style="flex: 3 3 auto;" (click)="resetForm(searchForm)">Reset</button>-->
        <div class="p-1 flex-fill button" >
         <button type="submit" class="btn btn-warning mr-2" >
           Recherche
         </button>
         <button type="submit" class="btn btn-dark mr-3" (click)="resetForm(searchForm)">
           Reset
         </button>
       </div>
      </form>
      <div class="text-center text-danger" *ngSwitchCase="'APP_ERROR'">No Employes found</div>
      <div *ngSwitchCase="'APP_LOADING'">
        <div class="d-flex justify-content-center mt-4">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div class="table__body" *ngSwitchCase="'APP_LOADED'">
        <h3 class="text-center pt-4 pb-3">Employes List</h3>
        <table >
          <thead>
          <tr>
            <th>ID</th>
            <th >Prenom</th>
            <th >Nom</th>
            <th >Grade</th>
            <th>Matricule</th>
            <th >Cin</th>
            <th >Societe</th>
            <th >Situation</th>
            <th >N° Enfant</th>
            <th >N° Tel</th>
            <th >Salaire Brut</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let employe of state.appData?.content; let i = index;" >
            <th scope="row">{{employe.id}}</th>
            <td>{{employe.prenom}}</td>
            <td>{{employe.nom}}</td>
            <td>{{employe.grade}}</td>
            <td>{{employe.matricule}}</td>
            <td>{{employe.cin}}</td>
            <td>{{ getSocieteNameById(employe.societeId) }}</td>
            <td>{{employe.situation}}</td>
            <td>{{employe.nbrEnfant}}</td>
            <td>{{employe.tel}}</td>
            <td>{{employe.salaireNet}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <nav *ngIf="state.appData?.content?.length!  > 0" class="pagination" >
        <ul>
          <li class="prev pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
            <a (click)="goToNextOrPreviousPage('backward', searchForm.value.query)">Prev</a>
          </li>
          <li  *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i = index;" class="page pointer" [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
            <a (click)="gotToPage(searchForm.value.query ,i)">{{ i + 1 }}</a>
          </li>
          <li [ngClass]="(state.appData?.totalPages! - 1) == (currentPage$ | async) ? ' disabled' : ''" class="next pointer" >
            <a (click)="goToNextOrPreviousPage('forward', searchForm.value.query)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
