<body>
<div class="background-container">
  <div class="background-image">
    <img src="assets/flags/login.jpg" alt="Background">
  </div>
<section class="container">
  <div class="login-container">
    <div class="form-container">
      <h1 class="opacity">LOGIN</h1>
      <div class="alert alert-danger" *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
      </div>
      <form  #formLogin="ngForm" (ngSubmit)="onSubmitLogin(formLogin)">
        <!--<i class='bx bxs-user' ></i>-->
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email Address"
          ngModel
          #email="ngModel"
          name="email"
          required
          email>


        <div *ngIf="email.errors && formLogin.submitted" class="text-danger">
          Email is required!
        </div>
        <!--<i class='bx bxs-user' ></i>-->
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          ngModel
          #password="ngModel"
          name="password"
          required
          minlength="6">

        <div *ngIf="password.errors && formLogin.submitted" class="text-danger">
          <div *ngIf="password.errors['required']">Password is required</div>
        </div>
        <button type="submit" >Login</button>
      </form>
      <div class="register-forget ">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="opacity">FORGOT PASSWORD?</a>
      </div>
    </div>
  </div>

  <!-- Modal -->

</section>
</div>
<div class="modal fade" id="exampleModal" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center textt" id="staticBackdropLabel1">Reset Password</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row mb-5 mt-5">
            <div class="col-md-6">
              <label class="form-label textt">Entrer votre Email</label>
              <input type="email" id="emaill" [(ngModel)]="emaill" name="email" class="form-control" required>
            </div>
          </div>
          <button type="submit" class="btn btn-warning textt" data-bs-dismiss="modal" >Reset Password</button>
        </form>
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark text" data-bs-dismiss="modal" >Close</button>

      </div>
    </div>
  </div>
</div>

</body>
