<div  *ngIf="(holidayState$ | async) as state"  [ngSwitch]="state.appState">

  <div >
    <h3 class="title">Holidays List</h3>
    <form #searchForm="ngForm" (ngSubmit)="gotToPage(searchForm.value.query)"  role="search">
      <div class="ajout">
        <button type="submit" class="btn btn-warning holl" *ngIf="isAdmin" (click)="detailHoliday()">
          Modifier
        </button>
      </div>
    </form>
    <div class="text-center text-danger" *ngSwitchCase="'APP_ERROR'">No Holidays found</div>
    <div *ngSwitchCase="'APP_LOADING'">
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <section class="tab" *ngSwitchCase="'APP_LOADED'">
      <table  class="table box">
        <thead>
        <tr class="table-dark ">
          <th class="hol"> Holiday Name </th>
          <th class="text-center"> Holiday Date </th>
          <th class="text-center"> Holiday Pays </th>
          <th class="text-center"> Holiday Status </th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let societeHoliday of state.appData?.content; let i = index;">
          <td class="hol1">{{societeHoliday.holidayDto?.nom}}</td>
          <td class="text-center holl"> {{societeHoliday.holidayDto?.date}} </td>
          <td class="text-center holl"> {{societeHoliday.holidayDto?.pays}} </td>
          <td class="text-center">
            <ng-container [ngSwitch]="societeHoliday.status">
              <p *ngSwitchCase="Status.JOUR_FERIES_CHOMES_ET_PAYES" class="status-green">CHOMES ET PAYES</p>
              <p *ngSwitchCase="Status.JOUR_FERIES_CHOMES_ET_NON_PAYES" class="status-red">CHOMES NON PAYES</p>
            </ng-container>
          </td>

        </tr>
        </tbody>
      </table>

    </section>
    <nav *ngIf="state.appData?.content?.length!  > 0" class="pagination" >
      <ul>
        <li class="prev pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
          <a (click)="goToNextOrPreviousPage('backward', searchForm.value.query)">Prev</a>
        </li>
        <li  *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i = index;" class="page pointer" [ngClass]="i == (currentPage$ | async) ? ' active' : ''">
          <a (click)="gotToPage(searchForm.value.query ,i)">{{ i + 1 }}</a>
        </li>
        <li [ngClass]="(state.appData?.totalPages! - 1) == (currentPage$ | async) ? ' disabled' : ''" class="next pointer" >
          <a (click)="goToNextOrPreviousPage('forward', searchForm.value.query)">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="modal fade" id="nouveauModal" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center " id="staticBackdropLabel1">Update Holiday</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" role="form" data-toggle="validator" id="holiday-form">
            <div class="modal-body">
              <div class="form-group">
                <label for="holiday_title">Holiday Title</label>
                <input type="text" class="form-control" id="holiday_title" name="holiday_title" placeholder="Holiday Title" required />
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="compulsory_holiday">
                      <input type="radio" value="compulsory" id="compulsory_holiday" name="holiday_type" class="minimal" checked /> CHOMES ET PAYES
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="restricted_holiday">
                      <input type="radio" value="restricted" id="restricted_holiday" name="holiday_type" class="minimal" /> CHOMES ET NON PAYES
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >
            <i class="fas fa-trash-alt"></i>&nbsp;Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</div>
