<div >
  <div class="align-end">
      <button
        class="btn btn-warning btn-sm me-3"
        type="submit"
        style="flex: 1 1 auto;"
        data-bs-toggle="modal"
        data-bs-target="#nouveauModal">
        Ajouter
      </button>
 </div>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      Pays
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" (click)="searchHolidays('Tunisia')">Tunisia</a></li>
      <li><a class="dropdown-item" (click)="searchHolidays('France')">France</a></li>
    </ul>
  </div>

    <div class="table__body">

            <h3 class="text-center pt-4 pb-3">List Holidays</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th scope="col">Pays</th>
                  <th scope="col">Associated</th>
                    <th class="align-end" scope="col"></th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let holiday of listHolidays; let i = index;">
                    <th scope="row">{{holiday.id}}</th>
                    <td>{{holiday.nom}}</td>
                    <td>{{holiday.date}}</td>
                    <td>{{holiday.pays}}</td>
                  <td>
                    <!-- Apply dynamic class based on isHolidayOfSociete -->
                    <p class="{{ holiday.isHoliday ? 'button-green' : 'button-red' }}">
                      {{ holiday.isHoliday ? 'Associated' : 'Not associated' }}
                    </p>
                  </td>
                    <td class="align-end">
                      <div class="dropdown">
                        <button class="btn btn-dark " type="button" id="ddropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          . . .
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
                          <li><a class="dropdown-item" >Modifier</a></li>
                          <li><a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#nouveauModall" (click)="prepareModal(holiday.id!)">Add To Societe</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myModal" (click)="prepareModal(holiday.id!)" >Remove From Societe</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#supp" (click)="prepareModal(holiday.id!)">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                </tr>
                </tbody>

            </table>

    </div>
    <div class="modal fade" id="myModal" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Etes vous-sur de vouloir supprimer cette Association?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)="deleteAssociation()">
                        <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
                </div>
            </div>
        </div>
    </div>
  <div class="modal fade" id="supp" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabell">Confirmation</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          Etes vous-sur de vouloir supprimer cet Holiday?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)="deleteHoliday()">
            <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="nouveauModal" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center " id="staticBackdropLabel1">New Holidays</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form >
            <div class="row mb-5 mt-5">
              <div class="col-md-6">
                <label class="form-label">Nom Holiday</label>
                <input type="text" [(ngModel)]="holiday.nom" class="form-control"  name="firstName">
              </div>
              <div class="col-md-6">
                <label class="form-label">Date Holiday</label>
                <input type="text" [(ngModel)]="holiday.date" class="form-control" name="lastName">
              </div>
              <div class="col-md-6">
                <label class="form-label">Pays Holiday</label>
                <select class="form-select" name="soc" [(ngModel)]="holiday.pays" aria-label="Default select example">
                  <option value="Tunisia">Tunisia</option>
                  <option value="France">France</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="saveHoliday()">
            <i class="fas fa-trash-alt"></i>&nbsp;Enregistrer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="nouveauModall" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center " id="staticBackdropLabel2">Add Association</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveAssociationSocieteHoliday()">
            <div class="row mb-5 mt-5">

              <div class="col-md-6">
                <label  class="form-label">Status</label>
                <select class="form-select" [(ngModel)]="selectedStatus" name="status" required>
                  <option *ngFor="let status of enumKeys(Status)" [value]="status">
                    {{ status.split('_').join(' ').toLowerCase() | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <button  type="submit" class="btn btn-primary">
              <i class="fas fa-trash-alt"></i>&nbsp;Enregistrer</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>


        </div>
      </div>
    </div>
  </div>
</div>
