.button {
  display: flex;
  justify-content: flex-end;
}

.mr-2 {
  margin-right: 0.5rem;
}
.form-label{
  font-weight: bold;
  color: black;
}
.title{
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}
.textt{
  font-weight: bold;
  color: black;
}
.text{
  font-weight: bold;
  color: white;
}
.cc{
  background-color: white;
}
